@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;

    color: #3e9dac;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: 'Pretendard';
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 500;
}

a {
    text-decoration: inherit;
    color: inherit;
}

h2 {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 20px;
    margin: 0;
}

body {
    background-color: #fff7ee;
}

.contain {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 200px;
    height: 90px;
    cursor: pointer;
}

#gnb {
    display: flex;
    margin-right: 30px;
    margin-top: 45px;
    position: relative;
    z-index: 100;
    height: 45px;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    background-color: #f9f1e8;
}

#gnb>li>p {
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#gnb>li>ul>li>p {
    display: flex;
    width: 180px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#gnb:hover {
    height: 165px;
}

#gnb li:hover>p {
    background-color: #001a1f;
    color: #eaeaea;
}

/*슬라이드*/
#photo {
    height: 450px;
    background-image: url('./img/thinkcloud-photo-div.jpg');
    position: relative;
}

#photo>p {
    background-color: rgb(255, 255, 255, 0);
    position: absolute;
    margin: 45px;
    color: #eaeaea;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    left: 0.5px;
}

#contents {
    height: 336px;
    display: flex;
    justify-content: space-between;
}

#first {
    width: 700px;
    height: 336px;
    background-color: #fff4e9;
}

.firsth {
    display: inline-block;
    padding: 0 7.5px;
    line-height: 30px;
    border-radius: 3px;
    background-color: #dceaea;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#firstli {
    width: 670px;
    margin-left: 15px;
}

#firstli>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #3e9dac;
    line-height: 200%;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.firstsp {
    width: 100px;
    text-align: left;
}

#second {
    width: 700px;
    height: 336px;
    background-color: #fff2e9;
}

#second>h2 {
    width: 105px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

/*테이블*/
.secondtr {
    width: 670px;
    height: 261px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-left: 15px;
}

table.secondtr {
    border-collapse: collapse;
}

table.secondtr td {
    border: 0.5px solid #3e9dac;
}

.secondtr tr:nth-child(1) {
    height: 23px;
}

.secondtr tr:nth-child(1)>td {
    border: 0.5px solid #eaeaea;
    background-color: #3e9dac;
    color: #eaeaea;
}

.secondtr tr:nth-child(n + 2) {
    height: 44px;
}

.today {
    background-color: #ff8f8f44;
}

.culture_hangsa {
    width: 1400px;
    height: 421px;
    margin: 0 auto;
    position: relative;
    background-color: #ffefe1;
}

.culture_hangsa_firsth {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 105px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

.culture_hangsa_down {
    position: absolute;
    top: 60px;
    left: 0;
    width: 1400px;
    height: 316px;
    display: flex;
}

.culture_hangsa_img {
    width: 700px;
    height: 316px;
    position: relative;
}

.culture_hangsa_img>img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.culture_hangsa_img>img.on {
    opacity: 1;
}

.culture_hangsa_img_two {
    width: 700px;
    height: 316px;
    position: relative;
}

.culture_hangsa_img_two>img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.culture_hangsa_img_two>img.on {
    opacity: 1;
}

.culture_hangsa_down_pp {
    width: 1400px;
    height: 45px;
    padding: 15px;
    position: absolute;
    top: 376px;
    left: 0;
}

.culture_hangsa_down_pp>p {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 100%;
}

.idal_book {
    width: 1400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    background-color: #fff4e9;
}

.idal_book_firsth {
    width: 122px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
    position: absolute;
    top: 15px;
    left: 15px;
}

.idal_booklist {
    width: 1400px;
    height: 244.8px;
    position: absolute;
    top: 60px;
    left: 0;
}

.idal_realbooklist {
    width: 896px;
    height: 244.8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.idal_realbook_can {
    width: 200px;
    height: 244.8px;
}

.idal_realbook_can>img {
    display: block;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease 0s;
}

.idal_realbook_can>p {
    width: 200px;
    height: 44.8px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    line-height: 160%;
    margin: 0;
    vertical-align: middle;
    margin-top: 0;
}

.idal_book_endpp {
    width: 1400px;
    height: 45px;
    padding: 15px;
    position: absolute;
    top: 304.8px;
    left: 0;
}

.idal_book_endpp>p {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 14px;
}

.idal_realbook_can:hover>img {
    width: 205px;
    height: 205px;
}

footer {
    height: 50px;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 14px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#footerfirst {
    margin-left: 10px;
}

#footerthird {
    margin-right: 10px;
}

/*인사말용*/
#thinkcloud_anne_insamal {
    height: 500px;
    width: 1400px;
    background-color: #fff4e9;
    margin: 0 auto;
    position: relative;
}

#thinkcloud_anne_insamal>h2 {
    width: 201px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_insamal>p {
    position: absolute;
    width: 1310px;
    height: 410px;
    line-height: 160%;
    top: 60px;
    left: 45px;
}

#thinkcloud_anne_insamal>object {
    position: absolute;
    width: 200px;
    height: auto;
    right: 45px;
    bottom: 45px;
    animation: thinkcloud_anne_insamal_object 3s ease infinite;
}

@keyframes thinkcloud_anne_insamal_object {
    0% {
        bottom: 45px;
    }

    70% {
        bottom: 45px;
    }

    85% {
        bottom: 55px;
    }

    100% {
        bottom: 45px;
    }

}

/*오시는길용*/
#thinkcloud_anne_osinegil {
    height: 534px;
    width: 1400px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_anne_osinegil>h2 {
    width: 222px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_osinegil>iframe {
    position: absolute;
    top: 60px;
    left: 0px;
}

/*연락처용*/
#thinkcloud_anne_phonenumber {
    width: 1400px;
    height: 475px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_anne_phonenumber>h2 {
    width: 201px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_phonenumber>table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    position: absolute;
    top: 60px;
    left: 15px;
}

#thinkcloud_anne_phonenumber>table>tbody>tr>td {
    border: 1px solid #3e9dac;
    padding-left: 10px;
}

#thinkcloud_anne_phonenumber>table>tbody>tr>td:nth-child(1) {
    background-color: #3e9dac;
    color: #eaeaea;
    border: 1px solid #eaeaea;
}

/*공지사항용*/

#thinkcloud_anne_gongji {
    width: 1400px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_anne_gongji>h2 {
    line-height: 30px;
    padding: 0 7.5px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_gongji>ul {
    width: 1370px;
    position: absolute;
    top: 60px;
    left: 15px;
}

/*256.5px*/

#thinkcloud_anne_gongji>ul>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #3e9dac;
    line-height: 200%;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.thinkcloud_anne_gongji_number_button {
    width: 1400px;
    position: absolute;
    top: 332px;
    left: 0px;
    text-align: center;
}

.thinkcloud_anne_gongji_number_button>p>span {
    padding: 0 5px;
    cursor: pointer;
}

/*국내도서용*/

#thinkcloud_book_korea {
    width: 1400px;
    height: 1351px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_book_korea>h2 {
    line-height: 30px;
    padding: 0 7.5px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 3px;
    background-color: #dceaea;
}

.thinkcloud_book_korea_box_full {
    width: 975px;
    height: 1080px;
    position: absolute;
    top: 60px;
    left: 212.5px;
}

.thinkcloud_book_box_full {
    width: 975px;
    height: 255px;
    display: flex;
    justify-content: space-between;
}

.thinkcloud_book_box_full_book_image {
    width: 255px;
    height: 255px;
    cursor: pointer;
}

.thinkcloud_book_box_full_book_image>img {
    margin-top: 45px;
    margin-left: 45px;
}

.thinkcloud_book_box_full_book_pp {
    width: 630px;
    height: 210px;
    margin-right: 45px;
    margin-top: 45px;
    overflow: hidden;
    cursor: pointer;
}

.thinkcloud_book_box_full_book_pp>h3 {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: #001a1f;
}

.thinkcloud_book_box_full_book_pp>p {
    line-height: 160%;
    font-weight: 400;
    color: #001a1f;
}

.thinkcloud_book_korea_box_full>.thinkcloud_anne_gongji_number_button {
    width: 915px;
    top: 1080px;
}

/*해외 도서용*/
#thinkcloud_book_other {
    width: 1400px;
    height: 1351px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

.title_part_htwo {
    line-height: 30px;
    padding: 0 7.5px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_book_new {
    width: 1400px;
    height: 1351px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_book_idal {
    width: 1400px;
    height: 1351px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

/*e북 서비스*/

#thinkcloud_online_ebook {
    width: 1400px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    background-color: #fff4e9;
}

#thinkcloud_online_ebook>h3 {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: #001a1f;
}

#thinkcloud_online_ebook>h3:nth-of-type(1) {
    position: absolute;
    top: 60px;
    left: 15px;
}

#thinkcloud_online_ebook>p {
    line-height: 160%;
    font-weight: 400;
    color: #001a1f;
}

#thinkcloud_online_ebook>p:nth-of-type(1) {
    position: absolute;
    top: 81px;
    left: 15px;
}

#thinkcloud_online_ebook>h3:nth-of-type(2) {
    position: absolute;
    top: 116px;
    left: 15px;
}

#thinkcloud_online_ebook>p:nth-of-type(2) {
    position: absolute;
    top: 137px;
    left: 15px;
}

#thinkcloud_online_ebook>h3:nth-of-type(3) {
    position: absolute;
    top: 173px;
    left: 15px;
}

#thinkcloud_online_ebook>p:nth-of-type(3) {
    position: absolute;
    top: 194px;
    left: 15px;
}

#thinkcloud_online_ebook>h3:nth-of-type(4) {
    position: absolute;
    top: 307px;
    left: 15px;
}

#thinkcloud_online_ebook>p:nth-of-type(4) {
    position: absolute;
    top: 328px;
    left: 15px;
}

.thinkcloud_online_ebook_button {
    position: absolute;
    width: 100px;
    height: 30px;
    border: 1px solid #3e9dac;
    top: 441px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

.thinkcloud_online_ebook_button:hover {
    background-color: #3e9dac;

}

.thinkcloud_online_ebook_button:hover>p {
    color: #fff7ee;
}

/*북퀴즈 이벤트용*/
#thinkcloud_online_bookquiz {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    position: relative;

}

#thinkcloud_online_bookquiz>img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

#thinkcloud_culture_anne {
    width: 1400px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

#thinkcloud_culture_anne>h3 {
    display: inline-block;
    font-family: 'Pretendard';
    padding: 5px;
    border: 5px solid #a9dada;
    border-radius: 10px;
    background-color: #e0ffff;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: #001a1f;
}

#thinkcloud_culture_anne>h3:nth-of-type(1) {
    position: absolute;
    top: 462px;

}

#thinkcloud_culture_anne>h3:nth-of-type(2) {
    position: absolute;
    top: 462px;
    left: 50%;
}

#thinkcloud_culture_anne>h3:nth-of-type(2) {
    position: absolute;
    top: 462px;
    left: 50%;
}

#thinkcloud_culture_anne>h3:nth-of-type(5) {
    position: absolute;
    bottom: 90px;
    left: 50%;
    cursor: pointer;
}

.thinkcloud_culture_anne_pp {
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    background-color: #e0ffff;
    line-height: 160%;
    font-weight: 400;
    color: #001a1f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.thinkcloud_culture_anne_pp_wrap {
    width: 530px;
    height: 142px;
    border-radius: 10px;
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a9dada;
}



#thinkcloud_culture_anne>img {
    width: 1400px;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#thinkcloud_culture_girok {
    width: 1400px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

#thinkcloud_online_jilmoon {
    width: 1400px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

#thinkcloud_online_jilmoon>table {
    width: 1370px;
    height: 440px;
    border-collapse: collapse;
    position: absolute;
    top: 60px;
    left: 15px;
}

#thinkcloud_online_jilmoon>table td {
    color: #001a1f;
    font-weight: 400;
}

#thinkcloud_online_jilmoon>table>tbody>tr:nth-child(1)>td {
    font-weight: 500;
    color: #3e9dac;
    border-bottom: 0.5px solid #3e9dac;
}

#thinkcloud_online_jilmoon>table>tbody>tr>td:nth-child(1) {
    width: 70px;
}

#thinkcloud_online_jilmoon>table>tbody>tr>td:nth-child(2) {
    cursor: pointer;
}

#thinkcloud_online_jilmoon>table>tbody>tr>td:nth-child(4) {
    width: 120px;
}

#thinkcloud_online_jilmoon>table>tbody>tr>td:is(:nth-child(3), :nth-child(5)) {
    width: 100px;
}

#thinkcloud_children_booklist {
    width: 1400px;
    height: 1351px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_children_sisul {
    width: 1400px;
    height: 1351px;
    margin: 0 auto;
    background-color: #fff4e9;
    position: relative;
}

.thinkcloud_children_sisul_img_two_box {
    width: 845px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.thinkcloud_children_sisul_img_two_box>img {
    width: 400px;
    height: 400px;
}
