@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;

    color: #3e9dac;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: 'Pretendard';
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 500;
}

a {
    text-decoration: inherit;
    color: inherit;
}

h2 {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 20px;
    margin: 0;
}

body {
    background-color: #fff7ee;
}

.contain {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 200px;
    height: 90px;
    cursor: pointer;
}

#gnb {
    display: flex;
    margin-right: 30px;
    margin-top: 45px;
    position: relative;
    z-index: 100;
    height: 45px;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    background-color: #f9f1e8;
}

#gnb>li>p {
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#gnb>li>ul>li>p {
    display: flex;
    width: 180px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#gnb:hover {
    height: 165px;
}

#gnb li:hover>p {
    background-color: #001a1f;
    color: #eaeaea;
}

/*슬라이드*/
#photo {
    height: 450px;
    background-image: url('./img/thinkcloud-photo-div.jpg');
    position: relative;
}

#photo>p {
    background-color: rgb(255, 255, 255, 0);
    position: absolute;
    margin: 45px;
    color: #eaeaea;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    left: 0.5px;
}

#contents {
    height: 336px;
    display: flex;
    justify-content: space-between;
}

#first {
    width: 700px;
    height: 336px;
    background-color: #fff4e9;
}

.firsth {
    width: 84px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

#firstli {
    width: 670px;
    margin-left: 15px;
}

#firstli>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #3e9dac;
    line-height: 200%;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.firstsp {
    width: 100px;
    text-align: left;
}

#second {
    width: 700px;
    height: 336px;
    background-color: #fff2e9;
}

#second>h2 {
    width: 105px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

/*테이블*/
.secondtr {
    width: 670px;
    height: 261px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-left: 15px;
}

table.secondtr {
    border-collapse: collapse;
}

table.secondtr td {
    border: 0.5px solid #3e9dac;
}

.secondtr tr:nth-child(1) {
    height: 23px;
}

.secondtr tr:nth-child(1)>td {
    border: 0.5px solid #eaeaea;
    background-color: #3e9dac;
    color: #eaeaea;
}

.secondtr tr:nth-child(n + 2) {
    height: 44px;
}

.today {
    background-color: #ff8f8f44;
}

.culture_hangsa {
    width: 1400px;
    height: 421px;
    margin: 0 auto;
    position: relative;
    background-color: #ffefe1;
}

.culture_hangsa_firsth {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 105px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

.culture_hangsa_down {
    position: absolute;
    top: 60px;
    left: 0;
    width: 1400px;
    height: 316px;
    display: flex;
}

.culture_hangsa_img {
    width: 700px;
    height: 316px;
    position: relative;
}

.culture_hangsa_img>img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.culture_hangsa_img>img.on {
    opacity: 1;
}

.culture_hangsa_img_two {
    width: 700px;
    height: 316px;
    position: relative;
}

.culture_hangsa_img_two>img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.culture_hangsa_img_two>img.on {
    opacity: 1;
}

.culture_hangsa_down_pp {
    width: 1400px;
    height: 45px;
    padding: 15px;
    position: absolute;
    top: 376px;
    left: 0;
}

.culture_hangsa_down_pp>p {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 100%;
}

.idal_book {
    width: 1400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    background-color: #fff4e9;
}

.idal_book_firsth {
    width: 122px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
    position: absolute;
    top: 15px;
    left: 15px;
}

.idal_booklist {
    width: 1400px;
    height: 244.8px;
    position: absolute;
    top: 60px;
    left: 0;
}

.idal_realbooklist {
    width: 896px;
    height: 244.8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.idal_realbook_can {
    width: 200px;
    height: 244.8px;
}

.idal_realbook_can>img {
    display: block;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease 0s;
}

.idal_realbook_can>p {
    width: 200px;
    height: 44.8px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    line-height: 160%;
    margin: 0;
    vertical-align: middle;
    margin-top: 0;
}

.idal_book_endpp {
    width: 1400px;
    height: 45px;
    padding: 15px;
    position: absolute;
    top: 304.8px;
    left: 0;
}

.idal_book_endpp>p {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 14px;
}

.idal_realbook_can:hover>img {
    width: 205px;
    height: 205px;
}

footer {
    height: 50px;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 14px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#footerfirst {
    margin-left: 10px;
}

#footerthird {
    margin-right: 10px;
}

/*인사말용*/
#thinkcloud_anne_insamal {
    height: 500px;
    width: 1400px;
    background-color: #fff4e9;
    margin: 0 auto;
    position: relative;
}

#thinkcloud_anne_insamal>h2 {
    width: 201px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_insamal>p {
    position: absolute;
    width: 1310px;
    height: 410px;
    line-height: 160%;
    top: 60px;
    left: 45px;
}

/*오시는길용*/
#thinkcloud_anne_osinegil {
    height: 534px;
    width: 1400px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_anne_osinegil>h2{
    width: 222px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_osinegil>iframe {
    position: absolute;
    top: 60px;
    left: 0px;
}
/*연락처용*/
#thinkcloud_anne_phonenumber{
    width: 1400px;
    height: 475px;
    position: relative;
    margin: 0 auto;
    background-color: #fff4e9;
}

#thinkcloud_anne_phonenumber>h2{
    width: 201px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

#thinkcloud_anne_phonenumber>table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    position: absolute;
    top: 60px;
    left: 15px;
}
#thinkcloud_anne_phonenumber>table>tbody>tr>td{
    border: 1px solid #3e9dac;
    padding-left: 10px;
}
#thinkcloud_anne_phonenumber>table>tbody>tr>td:nth-child(1){
    background-color: #3e9dac;
    color: #eaeaea;
    border: 1px solid #eaeaea;
}

/*국내도서용*/

#thinkcloud_book_korea {
    width: 1400px;
    height: 1351px;
    position: relative;
    margin: 0 auto;

    background-color: #fff4e9;
}

#thinkcloud_book_korea>h2{
    width: 100px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #dceaea;
}

.thinkcloud_book_korea_box_full{
    width: 915px;
    height: 1291px;
    position: absolute;
    top: 60px;
    left: 242.5px;
    background-color: coral;
}
.thinkcloud_book_box_full{
    width: 915px;
    height: 300px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 191, 173);
}
.thinkcloud_book_box_full_book_image{
    width: 300px;
    height: 300px;
    background-color: rgb(122, 73, 56);
}
.thinkcloud_book_box_full_book_pp{
    width: 600px;
    height: 300px;
    background-color: rgb(122, 73, 56);
}
.thinkcloud_book_korea_box_full_bottom_pp{
    text-align: center;
}
.thinkcloud_book_korea_box_full_bottom_pp>span{
    margin: 0 5px;
    cursor: pointer;
}

/*북퀴즈 이벤트용*/
#thinkcloud_online_bookquiz {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    position: relative;

}

#thinkcloud_online_bookquiz>img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}
